.DS_Store

datasets/IteraTeR/full_doc_level/*
datasets/IteraTeR/full_sent_level/*
datasets/IteraTeR/human_doc_level/*
datasets/IteraTeR/human_sent_level/*
datasets/NewsEdits/data/fox-matched-sentences.db
datasets/arXivEdits/checkpoints/*
